In [2]:
#Get Data
#Need Ticker, returns from past 5 years, current price, beta, ESG score, and sector
#Need to get data from Yahoo Finance, ESG, and Sector

import yfinance as yf
import requests
import json
import pandas as pd
import numpy as np
import os
import time
import datetime
# %pip install yesg
import yesg

In [1]:
import pandas as pd
import yfinance as yf
import yesg


def get_sp500_tickers():
    # Get S&P 500 tickers from Wikipedia
    url = "https://en.wikipedia.org/wiki/List_of_S%26P_500_companies"
    sp500 = pd.read_html(url)
    sp500 = sp500[0]
    return sp500["Symbol"].tolist()


def get_sp500_data():
    # Get S&P 500 tickers
    sp500 = get_sp500_tickers()

    # Filter out any tickers that may not be valid
    valid_tickers = []
    for ticker in sp500:
        try:
            yf.Ticker(ticker).info
            valid_tickers.append(ticker)
        except:
            pass

    # Initialize lists to store data
    rows = []

    # Fetch data for valid tickers
    for ticker in valid_tickers:
        # Fetch data for each ticker
        ticker_data = yf.Ticker(ticker)

        # Get historical price data
        history = ticker_data.history(period="5y")

        # Get beta and sector
        info = ticker_data.info
        beta = info.get("beta", None)
        sector = info.get("sector", None)

        # Append each row with date, ticker, price, beta, sector, and ESG score
        for date, row in history.iterrows():
            rows.append({
                "Date": date,
                "Ticker": ticker,
                "Price": row["Close"],
                "Beta": beta,
                "Sector": sector,
            })

    # Create DataFrame
    df = pd.DataFrame(rows)

    return df

# Example usage
sp500_df = get_sp500_data()

BRK.B: No data found, symbol may be delisted
BF.B: No price data found, symbol may be delisted (period=5y)

In [2]:
sp500_df

                            Date Ticker       Price   Beta       Sector
0      2019-04-26 00:00:00-04:00    MMM  124.518005  1.035  Industrials
1      2019-04-29 00:00:00-04:00    MMM  123.569542  1.035  Industrials
2      2019-04-30 00:00:00-04:00    MMM  123.114769  1.035  Industrials
3      2019-05-01 00:00:00-04:00    MMM  120.879982  1.035  Industrials
4      2019-05-02 00:00:00-04:00    MMM  120.022469  1.035  Industrials
...                          ...    ...         ...    ...          ...
624144 2024-04-22 00:00:00-04:00    ZTS  145.539993  0.848   Healthcare
624145 2024-04-23 00:00:00-04:00    ZTS  149.559998  0.848   Healthcare
624146 2024-04-24 00:00:00-04:00    ZTS  150.880005  0.848   Healthcare
624147 2024-04-25 00:00:00-04:00    ZTS  153.360001  0.848   Healthcare
624148 2024-04-26 00:00:00-04:00    ZTS  157.494995  0.848   Healthcare

[624149 rows x 5 columns]

In [5]:
missing_values = sp500_df.isna().sum()
print(missing_values)

Date              0
Ticker            0
Price             0
Beta          20921
Sector           18
ESG_Score    624127
dtype: int64

In [18]:
#define a function to download sp500 tickers
def download_sp500_tickers():
    # Get S&P 500 tickers from Wikipedia
    url = "https://en.wikipedia.org/wiki/List_of_S%26P_500_companies"
    sp500 = pd.read_html(url)
    sp500 = sp500[0]
    return sp500

In [19]:
download_sp500_tickers()

,Symbol,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded
0,MMM,3M,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1957-03-04,66740,1902
1,AOS,A. O. Smith,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,91142,1916
2,ABT,Abbott,Health Care,Health Care Equipment,"North Chicago, Illinois",1957-03-04,1800,1888
3,ABBV,AbbVie,Health Care,Biotechnology,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
4,ACN,Accenture,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989
...,...,...,...,...,...,...,...,...
498,XYL,Xylem Inc.,Industrials,Industrial Machinery & Supplies & Components,"White Plains, New York",2011-11-01,1524472,2011
499,YUM,Yum! Brands,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997-10-06,1041061,1997
500,ZBRA,Zebra Technologies,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",2019-12-23,877212,1969
501,ZBH,Zimmer Biomet,Health Care,Health Care Equipment,"Warsaw, Indiana",2001-08-07,1136869,1927
502,ZTS,Zoetis,Health Care,Pharmaceuticals,"Parsippany, New Jersey",2013-06-21,1555280,1952